.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Pasta {
  
}

.square {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('./Pasta.jpg');
}

.App-link {
  color: #61dafb;
}


.text {
  display:grid;
  justify-content: center;
  padding: 30%;
  text-align: center;
  width: 5%;
  height: 150%;
  opacity: .8;
  background-color:yellow;
  
  color:aliceblue;
  font-size: larger;
}